@media screen and (max-width: 1200px) {
    #main-header {
        .social-icons{
            li:not(:last-child){
                margin-right: 20px;
            }
        }
    }
	#marketing-technology {
		.trans-influ {
			.infograph {
				.info-item {
					&:nth-child(5) {
						padding-left: 70px;
						&::after {
							left: 60px;
						}
					}
					&:nth-child(7) {
						padding-right: 70px;
						&::after {
							right: 60px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 992px) {
    .nav-links {
        display: none;
    }
    #main-header {
        .social-icons{
			display: none;
        }
		.navigation {
			ul {
				width: 90%;
				float: right;
			}
		}
    }
	.blog .news-date,
	.blog .news-date {
		min-height: auto;
	}
	#home .blog desc-text {
		display: none;
	}

	#marketing-technology {
		.intro-martech {
			.intro-items {
				img {
					margin-bottom: 20px;
				}
				&:not(:last-child) {
					margin-bottom: 30px;
				}
			}
		}
		.trans-influ {
			.infograph {
				.info-item {
					&:nth-child(2) {
						&::after {
							width: 355px;
						}
					}
					&:nth-child(5) {
						&::after {
							left: 20px;
						}
					}
					&:nth-child(7) {
						&::after {
							right: 20px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 771px) {
    #home {
        .leadership {
            .modal-dialog {
                max-width: 250px !important;
                margin: 0 auto;
                .modal-content {
                    .modal-body {
                        .image{
                            display: block;
                            width: 100%;
                            img{

                            }
                        }
                        .contents{
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
	#main-header {
		.navigation {
			ul {
				width: 100%;
				float: none;
			}
		}
	}
	#home .about h2 {
		text-align: center!important;
		margin-bottom: 15px!important;
	}

    .cat-container,
    .featured-news,
    .news-articles,
    .news-img,
    .news-date {
        flex-basis: 100%!important;
    }
    .news-date {
        min-height: 150px;
    }
	footer {
		.contact-bar {
			& div > div:first-child {
				text-align: center;
				padding-top: 0;
				padding-bottom: 15px;
			}
		}
	}

	.table-images li {
		display: inline-block!important;
		width: 33.33%!important;
		margin-bottom: 10px;
	}
	#marketing-technology {
		.intro-martech {
			.intro-items {
				text-align: center;
				img {
					margin: 0 auto 20px;
				}
			}
		}
		.trans-influ {
			.infograph {
				padding: 100px 0;
				.info-item {
					margin: 0!important;
					margin-bottom: 150px!important;
					padding: 0 15px!important;
					&::after {
						content: '';
						position: absolute;
						top: auto!important;
						bottom: -105px!important;
						left: 50%!important;
						transform: rotateZ(-90deg) translateY(-90%)!important;
						background: url('../../../../agsx.bitbucket.org/images/arrow_straight.png')!important;
						width: 100px!important;
						height: 62px!important;
					}
					&:last-child {
						margin-bottom: 0!important;
						&::after {
							display: none;
						}
					}
				}
			}
		}
		.capab {
			.capab-items {
				img {
					margin-bottom: 20px!important;
				}
			}
		}
	}
}

@media screen and (max-width: 625px) {
    .navigation {
        ul{
            display: none;
        }
    }
    .buttonresponsive {
        display: block;
    }
}
@media screen and (min-width: 625px) {
    .buttonresponsive {
        display: none;
    }
}

@media screen and (max-width: 480px) {
	.table-images li {
		width: 50%!important;
	}

}
@media screen and (max-width: 320px) {

}
@media (min-width: 768px){
    .modal-dialog {
        width: auto;
        margin: 30px auto;
    }
}
