#blog{
    .blog{
        h2{
            text-align: center;
            margin-bottom: 30px;
        }
        .bigbox{
            -webkit-box-shadow:5px 5px 44px -14px rgba(0,0,0,0.75);
            -moz-box-shadow:5px 5px 44px -14px rgba(0,0,0,0.75);
            box-shadow:5px 5px 44px -14px rgba(0,0,0,0.75);
            padding: 0px;
            margin-bottom: 30px;
            .image{
                -webkit-box-shadow: 14px 4px 42px -15px rgba(0,0,0,0.75);
                -moz-box-shadow: 14px 4px 42px -15px rgba(0,0,0,0.75);
                box-shadow: 14px 4px 42px -15px rgba(0,0,0,0.75);
                padding: 0px;
            }
            .desc{
                padding: 0;
                position: relative;
                min-height: 362px;
                .news-right {
                    padding: 40px;
                    h5{
                        color: $color__primary;
                        text-transform: uppercase;
                    }
                    h3{
                        a{
                            color: #000;
                        }
                    }
                    .news-date{
                        font-size: 14px;
                        margin-bottom: 15px;
                    }
                }
                .read-more{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    border-top: 1px solid #cccccc;
                    padding: 20px 40px;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: $color__primary;
                }
            }
        }
        .smallbox{
            position: relative;
            background: #fff;
            -webkit-box-shadow: -1px 10px 53px -9px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 10px 53px -9px rgba(0,0,0,0.75);
            box-shadow: -1px 10px 53px -9px rgba(0,0,0,0.75);
            margin-bottom: 25px;
            .img-container{
                .shadows{
                    -webkit-box-shadow: inset -2px -167px 54px -52px rgba(0,0,0,0.75);
                    -moz-box-shadow: inset -2px -167px 54px -52px rgba(0,0,0,0.75);
                    box-shadow: inset -2px -167px 54px -52px rgba(0,0,0,0.75);
                    min-height: 223px;
                }
                img{
                    position: relative;

                }
                .titles{
                    position: absolute;
                    bottom: 0px;
                    left: 15px;
                    right: 15px;
                    padding: 20px 30px;
                    h3{
                        color: #fff;
                    }
                    .label{
                        color: #00abcd;
                        display: block;
                        text-align: left;
                        padding: 0;
                        margin-bottom: 10px;
                    }
                }

            }
            .desc{
                .news-content{
                    padding: 30px;
                    font-weight: 300;
                    height: 170px;
                }
            }
            .read-more{
                border-top: 1px solid #cccccc;
                padding-top: 20px;
                padding-bottom: 25px;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 16px;
                a{
                    width: 80%;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
}
