// footer
footer {
	.contact-bar {
		background-color: $color__light-gray;
		color: $text__black;
		padding: 20px 0;
		font-weight: 500;

		& div > div:first-child {
			padding-top: 15px;
		}

		& div > div:last-child a {
			display: block;
			text-align: center;
		}
	}

	.main-footer {
		background-color: $color__dark;
		padding: 50px 0;

		h4 {
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 30px;
		}

		p, li, a {
			font-size: 14px;
			color: #fff;
			font-weight: 300;
			&:hover {
				color: #fff;
				font-style: none;
			}
		}

		li:not(last-child) {
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 20px;
		}
	}

	.copyright {
		background-color: $color__primary;
		color: #fff;
		padding: 20px 0;

		p {
			font-weight: 200;
			font-size: 12px;
		}
	}
}
// footer
