#marketing-technology {
    .section-border {
        padding-bottom: 50px;
    }
    .martech-intro {
        p.intro-text {
            margin-bottom: 50px;
        }
        .intro-martech {
            .intro-items {
                h2 {
                    font-size: 18px;
                    font-weight: 700;
                }
                p {
                    color: $text__black;
                }
            }
            hr {
                border-bottom: 1px solid $color__dark-gray;
                padding-bottom: 50px;
                margin-bottom: 50px;
                margin-top: 0;
            }
        }
    }
    .trans-influ {
        h2 {
            margin-bottom: 50px;
        }

        & > p:not(:last-child) {
            margin-bottom: 30px;
        }
		.infograph {
			.info-item {
				position: relative;
				&:nth-child(1),
				&:nth-child(3) {
					margin: 60px 0 50px;
				}
				&:nth-child(2)::after {
					content: '';
					position: absolute;
					bottom: -90px;
					left: 50%;
					transform: translateX(-50%);
					background: url('../../../../agsx.bitbucket.org/images/arrow_straight.png');
					width: 422px;
					height: 62px;
				}
				&:nth-child(5) {
					padding-left: 110px;
					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 110px;
						background: url('../../../../agsx.bitbucket.org/images/arrow_angle.png');
						width: 226px;
						height: 206px;
					}
				}
				&:nth-child(7) {
					padding-right: 110px;
					margin-top: -18px;
					&::after {
						content: '';
						position: absolute;
						top: 0;
						right: 100px;
						background: url('../../../../agsx.bitbucket.org/images/arrow_angle.png');
						width: 226px;
						height: 206px;
						transform: rotateZ(-90deg);
					}
				}
				img {
					display: block;
					margin: 0 auto;
				}
				h3 {
					margin-top: 15px;
					text-transform: uppercase;
					font-weight: 700;
					span {
						font-weight: 500;
						font-size: 18px;
					}
				}
			}
		}
    }
    .social-barometer {
        h2 {
            margin-bottom: 50px;
        }
        p:not(:last-child) {
            margin-bottom: 20px;
        }
		.barometer-slider {
			margin: 50px 0 10px;
			.slick-track {
				display: flex;
				flex-direction: row;
				.barometer-item {
					flex-basis: 22%;
					align-self: stretch;
					margin-right: 1%;
					min-height: 320px;
					padding: 25px 15px;
					border: 3px solid $color__primary;
					img {
						margin-bottom: 10px;
						display: block;
					}
					h3 {
						font-size: 18px;
						margin-bottom: 15px;
					}
				}
			}
			.slick-dots{
				text-align: center;
				margin-top: 20px;
				li{
					display: inline-block;
					line-height: 1em;
					button{
						font-size: 0;
						cursor: pointer;
						color: transparent;
						border: none;
						outline: none;
						background: transparent;
						&:before{
							font-size: 45px;
							content: "•";
							color: #d9d9d9;
						}
					}
				}
				li.slick-active{
					button{
						font-size: 0;
						&:before{
							font-size: 45px;
							content: "•";
							color: $color__primary;
						}
					}
				}
			}
		}
    }
	.capab {
		h2 {
			margin-bottom: 50px;
		}
		h3 {
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 25px;
			font-weight: 700;
		}
		.capab-items {
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				margin-bottom: 50px;
			}
		}
	}
}
