#what-we-do {
    .section-category {
        .img-category {
            margin-top: 50px;
            min-height: 410px;
            background-color: $color__light-gray;
            text-align: center;
            position: relative;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .btn-category {
            display: block;
            text-transform: uppercase;
            color: $color__primary;
            text-align: center;
            font-weight: 700;
            font-size: 24px;

            &:hover {
                background-color: $text__black;
            }
        }
    }

    .section-offerings {
        background-color: $color__light-gray;
        color: $text__black;

        h2 {
            margin-bottom: 50px;
        }

        p:first-child {
            margin-bottom: 30px;
        }

        .service-items {
            margin-bottom: 50px;

            &:nth-lst-of-type(3),
            &:nth-lst-of-type(2),
            &:nth-lst-of-type(1) {
                margin-bottom: 0;
            }

            img {
                margin-bottom: 10px;
            }
            h3 {
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            p {
                font-weight: 300;
            }
        }
    }

    .core-approach {
        h2 {
            margin-bottom: 30px;
        }

        .core-nav {
            margin-top: 50px;
            margin-bottom: 50px;

            .slick-track {
                width: 100%!important;
                left: 0!important;
                position: relative;

                &:before {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    background-color: $color__light-gray;
                    height: 10px;
                    width: 85%;
                    z-index: -1;
                }

                p {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-color: $color__primary;
                    padding: 10px;
                    color: #fff;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }

        .core-content {
            h3 {
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }
}
